@font-face {
  font-family: 'smfpicon';
  src:  url('fonts/smfpicon.eot?l2bioh');
  src:  url('fonts/smfpicon.eot?l2bioh#iefix') format('embedded-opentype'),
    url('fonts/smfpicon.ttf?l2bioh') format('truetype'),
    url('fonts/smfpicon.woff?l2bioh') format('woff'),
    url('fonts/smfpicon.svg?l2bioh#smfpicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.smfpIcon {
  /*
    use !important to prevent issues with browser extensions that change fonts
  */
  font-family: 'smfpicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.smfpIcon-illustrated-information:before {
  content: "\e900";
}
.smfpIcon-dependence-industries:before {
  content: "\e901";
}
.smfpIcon-details:before {
  content: "\e902";
}
.smfpIcon-economical-analysis:before {
  content: "\e903";
}
.smfpIcon-edit:before {
  content: "\e904";
}
.smfpIcon-element:before {
  content: "\e905";
}
.smfpIcon-element-stats:before {
  content: "\e906";
}
.smfpIcon-environment:before {
  content: "\e907";
}
.smfpIcon-environment-analysis:before {
  content: "\e908";
}
.smfpIcon-export:before {
  content: "\e909";
}
.smfpIcon-global-price:before {
  content: "\e90a";
}
.smfpIcon-import:before {
  content: "\e90b";
}
.smfpIcon-information-analysis:before {
  content: "\e90c";
}
.smfpIcon-iran:before {
  content: "\e90d";
}
.smfpIcon-legal-analysis:before {
  content: "\e923";
}
.smfpIcon-mine:before {
  content: "\e924";
}
.smfpIcon-mineral:before {
  content: "\e925";
}
.smfpIcon-political-analysis:before {
  content: "\e926";
}
.smfpIcon-register-form:before {
  content: "\e927";
}
.smfpIcon-remove:before {
  content: "\e928";
}
.smfpIcon-reset:before {
  content: "\e929";
}
.smfpIcon-secondary-production:before {
  content: "\e92a";
}
.smfpIcon-secondary-sources:before {
  content: "\e92b";
}
.smfpIcon-social-analysis:before {
  content: "\e931";
}
.smfpIcon-strategic-analysis:before {
  content: "\e932";
}
.smfpIcon-admin:before {
  content: "\e933";
}
.smfpIcon-technological-level:before {
  content: "\e934";
}
.smfpIcon-technology-analysis:before {
  content: "\e935";
}
.smfpIcon-threats:before {
  content: "\e936";
}
.smfpIcon-total-stats:before {
  content: "\e937";
}
.smfpIcon-upstream-industry:before {
  content: "\e938";
}
.smfpIcon-user:before {
  content: "\e939";
}
.smfpIcon-world:before {
  content: "\e93a";
}

